.box{
    border-color: black;
    padding: 20px;
}

#Loja{
    background-color: aqua;
    border-style: solid;        
}

#jogos{
    background-color: blueviolet;
    border-style: dashed;        
}

#rpg{
    background-color: darksalmon;
    border-style: double;
}
