.box {
    padding: 30px;
    margin: 20px;
}

#filmes {
    background-color: blue;
    border: solid;    
}

#games {
    background-color: red;
    border-style: double;
}

#rpg {
    background-color: greenyellow;
    border-style: dotted;
}


p {
  text-indent: 20px;  
  text-justify: 10px;
  text-align: justify;
  font-family: Arial; 
  font-size: 16px;
}


h1 {
   text-transform: uppercase; 
   text-decoration: underline;
}