.box_filmes {
    background-color: #00B2EE;
    border-color: white;
    border: groove;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    width: 1100px;
    height: 550px;
    margin: 10px 10px 10px 10px;
    position: absolute;
    left: 20px;
  
}

.box_games {
    background-color: #EE0000;
    border-style: groove;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    width: 1100px;
    height: 550px;
    margin: 10px 10px 10px 10px;
    position: relative;
    top: 25px; 
    left: -13px;
}

.box_rpg {
    background-color: greenyellow;
    border-style: groove;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    width: 1100px;
    height: 550px;
    position: relative;
    top: 77px;
    left: -12px;
    margin: 10px 10px 30px 10px;
}


p {
  text-indent: 20px;  
  text-justify: 10px;
  text-align: justify;
  font-family: Arial; 
  font-size: 16px;
}


h1 {
   text-indent: 20px;
   text-transform: uppercase; 
   text-decoration: underline;
}