.box{
    border-color: black;
    padding: 20px;
}

#Loja{
    background-color: aqua;
    border-style: solid;        
}

#jogos{
    background-color: blueviolet;
    border-style: dashed;        
}

#rpg{
    background-color: darksalmon;
    border-style: double;
}

#Musica{
    background-color: brown;
    border-style: dashed;    
}

#rock{
    background-color: chartreuse;
    border-style: ridge;
    height: 90px;
    width: 50%;
     
}

#jazz{
    background-color: rosybrown;
    border-style: dotted;   
    height: 90px;
    width: 50%;
    
    
}

